{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<style>
    .panel {
        border: none;
    }
</style>
<div class="container-fluid" style="background-color: #AFD2F5;">
   
        <div class="col-md-1">
        </div>
       
            <div class="panel panel-default" style="margin-top:5%">
                <img class="card-img-top mb-10 img-responsive" src="{{project.image.url}}"
                    style="height:auto;width:100%">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 30px;">
                            <h id="description">Description:</h>
                            <p style="color: black;">{{project.description}}</p>
                            <h id="description">Population:</h>
                            <p style="color: black;">{{project.count}}</p>
                            <h id="description">Location:</h>
                        <p style="color: black;">{{project.location}}</p>
                            </p>
                            <a href="{% url 'deletehood' project.id%}" style="margin-right: 30px;"><i class="fa-solid fa-trash"></i>Delete</a>
                             <a href="{% url 'new_business' %}"><i class="fa-solid fa-plus"></i>Add Business</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
    
        
        <div class="col-md-1">
            
        </div>
    </div>
    <div class="row" style="padding-top: 20px;padding-left: 75px;">
        <div class="col sm-1">
            <a href="{% url 'new_post'%}"><i class="fa-solid fa-plus"></i>Add Post</a> 
            {%if posts%}
            {%for post in posts%}
            <p>{{post.tile}}</p>
            <p><img src="{{post.image.url}}" alt=""> </p>
            <p>{{post.content}}</p>
            
            <a href="{% url 'delete_post' post.id%}"><i class="fa-solid fa-trash"></i>Delete</a>
            {%endfor%}
            {%else%}
            <h6>no posts</h6>
            
            {%endif%}
        
        </div>
    </div>
  <div class="row">
    <div class="col-sm-7">
        {% if businesses%}
     {% for business in businesses%}
     <p>{{business.name}}</p>
     <p>{{business.business_description}}</p>
     <p>{{business.business_email}}</p>
     
     {%endfor%}
        {%else%}
        <h5>There are no businesses registered for this neighborhood</h5>
        {%endif%}
    </div>
  </div>

</div>


    {% endblock %}